@model QuanLyCLB.Models.ThanhVien

@{
    ViewBag.Title = "Thêm mới thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var acc = Session["Login"] as QuanLyCLB.Models.TaiKhoan;
}

<div class="container mt-xl-50 mt-sm-30 mt-15">
    <!-- Title -->
    <div class="hk-pg-header">
        <div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg></span></span>Thêm mới thành viên</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Thêm mới</h5>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.HoTen)
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" ,@data_val = "true", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger",})
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MSSV)
                            @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SDT)
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NganhHoc)
                            @Html.EditorFor(model => model.NganhHoc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NganhHoc, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label for="ngaysinh">Ngày sinh</label>
                            <input type="date" class="form-control" name="NgaySinh" id="ngaysinh">
                        </div>
                        <input type="text" hidden name="ToChucId" value="@acc.ToChucId" />
                        <div class="form-group">
                            <label for="ChucVu">Chức vụ<small>(Mặc định là Thành viên)</small></label>
                            @Html.EditorFor(model => model.ChucVu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BanId, "Thuộc Ban")
                            @Html.DropDownList("BanId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BanId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                <a href="@Url.Action("Index","ThanhViens")" class="btn btn-light">Trở về</a>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
