@model IEnumerable<QuanLyCLB.Models.ThanhVien>

@{
    ViewBag.Title = "Quản lý thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
    var acc = Session["Login"] as QuanLyCLB.Models.TaiKhoan;
}

<div class="container mt-xl-50 mt-sm-30 mt-15">
    <!-- Title -->
    <div class="hk-pg-header">
        <div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg></span></span>Quản lý thành viên</h4>
        </div>

    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Toàn bộ thành viên đang được quản lý</h5>
                <a href="@Url.Action("Create","ThanhViens")" class="btn btn-outline-primary btn-rounded mb-10">
                    Thêm mới
                </a>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                    <tr>
                                        <th>
                                            STT
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HoTen)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MSSV)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SDT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChucVu)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ban.TenBan)
                                        </th>
                                        <th>
                                            Chức năng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HoTen)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MSSV)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SDT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ChucVu)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ban.TenBan)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "ThanhViens", new { id = item.Id })" class="btn btn-icon btn-icon-circle btn-secondary btn-icon-style-3"><span class="btn-icon-wrap"><i class="fa fa-pencil"></i></span></a>
                                                <button title="Xoá" class="btn btn-icon btn-icon-circle btn-info btn-icon-style-3" onclick="@{ViewData["id"] = item.Id; } " data-toggle="modal" data-target="#exampleModal"><span class="btn-icon-wrap"><i class="icon-trash"></i></span></button>
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            STT
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HoTen)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MSSV)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SDT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChucVu)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ban.TenBan)
                                        </th>
                                        <th>
                                            Chức năng
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xoá thành viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá thành viên này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <a href="@Url.Action("Delete","ThanhViens", new {id = ViewData["id"] })" class="btn btn-primary">Xác nhận</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/dist/js/dataTables-data.js"></script>
    <script src="~/Content/vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <script src="~/Content/dist/js/jquery.slimscroll.js"></script>
    <script src="~/Content/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="~/Content/dist/js/toggle-data.js"></script>
}