@model QuanLyCLB.Models.HoatDong

@{
    ViewBag.Title = "Thêm mới hoạt động";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var acc = Session["Login"] as QuanLyCLB.Models.TaiKhoan;
}

<div class="container mt-xl-50 mt-sm-30 mt-15">
    <!-- Title -->
    <div class="hk-pg-header">
        <div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg></span></span>Thêm mới hoạt động</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Thêm mới</h5>
                @using (Html.BeginForm("Create","HoatDongs",FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input type="text" value="@acc.ToChucId" name="ToChucId" hidden />

                        <div class="form-group">
                            @Html.LabelFor(model => model.TieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm">
                                    @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="tinymce-wrap">
                                        <textarea class="tinymce" name="NoiDung" id="NoiDung"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Logo">Ảnh chính</label><br />
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                </div>
                                <div class="form-control text-truncate" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                <span class="input-group-append">
                                    <span class=" btn btn-primary btn-file">
                                        <span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span>
                                        <input type="hidden"><input type="file" id="Logo" name="AnhChinh">
                                    </span>
                                    <a href="#" class="btn btn-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ngaysinh">Thời gian</label>
                            <input type="date" class="form-control" name="ThoiGian" required id="ngaysinh">
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                <a href="@Url.Action("Index","HoatDongs")" class="btn btn-light">Trở về</a>
                            </div>
                        </div>
                    </div>
                }

            </section>
        </div>
    </div>
</div>
@section Scripts{
    <!-- Tinymce JavaScript -->
    <script src="~/Content/vendors/tinymce/tinymce.min.js"></script>

    <!-- Tinymce Wysuhtml5 Init JavaScript -->
    <script src="~/Content/dist/js/tinymce-data.js"></script>
    <script src="~/Content/vendors/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <script src="~/Content/dist/js/jquery.slimscroll.js"></script>
    <script src="~/Content/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="~/Content/dist/js/toggle-data.js"></script>
}
